%div
  .header.gradient
    = image_tag 'cocktail-white.svg', class: 'icon'
    .header__title The drinks searcher
  .searcher
    .searcher__radio
      .form-check
        %input#simpleSearch.form-check-input{checked: "checked", name: "searchRadio", type: "radio", value: "simple"}/
        %label.form-check-label{for: "simpleSearch"} Easy search
      .form-check
        %input#advancedSearch.form-check-input{name: "searchRadio", type: "radio", value: "advanced"}/
        %label.form-check-label{for: "advancedSearch"} Recommend me ;)
    .simple-form
      = render partial: 'simple_form'
    .advanced-form
      = render partial: 'advanced_form'

  .drinks-list
    =render 'drinks_list'
