@font-face {
    font-family: "Buffalo Regular";
    src: font-url("Buffalo.otf");
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
}

.header__title {
    font-family: "Buffalo Regular";
    font-size: 100px;
    color: #fff;
}

.gradient {
    background: #e96443;
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    background: linear-gradient(to right, #904e95, #e96443);
}

.icon {
    width: 160px;
    height: 160px;
}

.searcher {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searcher__radio {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.simple-form,
.advanced-form {
    margin-top: 20px;
    display: flex;
}

.advanced-form {
    display: none;
}

.drinks-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .drink-card {
        margin-bottom: 20px;
        padding: 20px;
        width: 820px;
        display: flex;
        flex-direction: row;
        .drink-card__img {
            width: 220px;
            height: 220px;
            border-radius: 0.25em;
        }
        .drink-card__body {
            margin-left: 30px;
        }
    }
}